
    
<div class="row">
    <div class="col-lg-12 ">
        
        <div class="intro-text">
            <p class="name">Mellow Monkey Adoption Service</p>
            <p class="skills">$15 a month to teach a Monkey to Code </>
            <button class="btn btn-primary"><%= link_to "Sign Up & Support a Monkey!", new_subscriber_path %></button>
            <button class="btn btn-success"><%= link_to "Learn More Aout Code Monkeys", monkeys_path %></button>
           
        </div>
    </div>

</div>