<div class="row">
	<div class="col-lg-12" id="questions">
		<h1 class="headline">Our Current Monkey Cohort</h1>

			<% @monkeys.each  do |monkey| %>
				<div class="col-lg-4">
					<img class="responsive center-block" src="http://placehold.it/200x200" alt="monkey-picture"><%= link_to monkey.title, monkey_path(monkey) %>
				</div>
			<% end %>

	
	</div>
		<button class="btn btn-primary"><%= link_to 'Add a Monkey', new_monkey_path, id: "new_link" %></button>
</div>